:root{
    font-size: 62.5%;
    --basecolor:#0F1E0F;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
}

header{
    background-color: var(--supportcolor);
}

a:hover{
    color: var(--support2);
}

.intro{
    padding: 0 0;
    background-image: url(../images/pig_look.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:30rem;
}

.aboutus{
    width:100%;
}

.aboutus .content .paragraphs h1{
    font-size: 7rem;
    text-align: left;
}

.aboutus .content .paragraphs{
    text-align: justify;
    display: flex;
    gap: 5rem;
    
}

.aboutus .content .paragraphs .first, .aboutus .content .paragraphs .second{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.aboutus .content .paragraphs .second span{
    color: var(--supportcolor);
}

.aboutus a{
    cursor:pointer;
    width:fit-content;
    border: solid 0.2rem var(--supportcolor);
    padding: 0.5rem 3rem;
    box-sizing: border-box; /* ensures border doesn’t change layout */
    background-color: transparent;
    transition: all 0.3s ease;
}

.aboutus a::after{
    content: "⟶";
    color: var(--basecolor);
    position:relative;
    left:1rem;
    transition: all 0.3s ease;
}

.aboutus a:hover{
    color: var(--support2);
    background-color: var(--supportcolor);
    border-color: var(--supportcolor);
}

.aboutus a:hover::after{
    color:var(--support2);
    left:2rem;
}

/*FOUNDERS SECTION*/
.founders{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    background-color: var(--lighterbrown);
}

.founders h1{
    font-size: 7rem;
}

.founders img{
    border: solid 0.2rem var(--basecolor);
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
}

.founders .content{
    display: flex;
    gap:10rem;
}

.founders h2{
    font-size: 4rem;
}

.founders .content div{
    background-color: var(--supportcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40rem;
    padding:4rem 2rem;
    gap:1rem;
    text-align: center;
}