:root{
    font-size: 62.5%;
    --basecolor:#0F1E0F;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
    --greenSuccess:green;
    --redError:red;
}

body{
    color: var(--basecolor);
}

header{
    background-color: var(--supportcolor);
}

a:hover{
    color: var(--support2);
}

h1{
    font-size: 4rem;
    text-align: center;
}

form{
    background-color: var(--lighterbrown);
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 4.5rem 5%;/*5% of the remaining space*/
    width:60rem;
    height: 62rem;
    margin: 5rem auto;
}

.modernInput, .modernTextArea{
    position: relative;
}

.modernInput input{
    border: solid 0.2rem var(--supportcolor);
    background-color: var(--support2);
    padding: 1rem 2rem;
    border-radius: 2rem;
    width:100%;
}

.modernInput label{
    position: absolute;
    width:fit-content;
    margin-left: 1.5rem;
    left:1rem;
    top:1.2rem;
    transition:all 0.2s ease;
}

.modernInput input:focus + label,
.modernInput input:not(:placeholder-shown) + label{
    font-size: 1rem;
    background-color: var(--lighterbrown);
    padding:0.1rem 0.5rem;
    left:0.5rem;
    top:-0.5rem;
}

#phoneNumber .iti {/*Makes the phone input the same size with the rest. It had changed and started t=following the phone-code library's width*/
    width:100%;
}

#phoneNumber .iti__selected-country{/*Target the selected country flag and code*/
    padding-left: 1.4rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

#phoneNumber .iti__search-input{/*Targets the text inside the search input field in the dropdown*/
    padding-left: 3.5rem;
}

#phoneNumber button::after{
    content: "";
}

#phoneNumber button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

#phoneNumber select{
    padding-left:1rem;
}

#phoneNumber label{
    left:10rem;
}

#phoneNumber:focus-within label, /*This means apply this styling when something inside .modernInput is focused. And apply it "label"*/
#phoneNumber.has-value label{/*This means apply the styling if user has typed sth. This is not plain css, I've added code in JS to 
    add the class .has-value if the input is empty.
    PLZ NOTE:
         Do not add a space btwn "#phoneNumber" and ".has-value". With the space it means: Find an element with class has-value 
         INSIDE #phoneNumber, and then find its label. Without the space it means, check if a class ".has-value" is attached to #phoneNumber*/
    font-size: 1rem;
    background-color: var(--lighterbrown);
    padding:0.1rem 0.5rem;
    top:-0.5rem;
}

#phoneNumber input::placeholder{/*The default of the placeholder is to be invisible*/
    opacity:0;
}

#phoneNumber:focus-within input::placeholder{/*If there's any focus within the phoneInput then it'll be shown*/
    opacity:1;
}

.modernTextArea{
    position: relative;
}

.modernTextArea textarea{
    border: solid 0.2rem var(--supportcolor);
    background-color: var(--support2);
    padding: 1rem 2rem;
    border-radius: 2rem;
    width:100%;
    height:12rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;/* allows wrapping and preserves line breaks when submitting*/
    word-wrap: break-word;/* breaks long words if needed. If you don't pu this and you write a long word, the horizontal scrollbar will appear which I don't want in this case*/
    /*In HTML, this is how u'd do it:
    wrap = "soft" → lines wrap visually, but no line breaks are added when submitted.
    wrap = "hard" → lines wrap visually, and line breaks are added in the submitted text.
    I would've wanted the wrap soft but then I wanted to show the css one here.*/
}

.modernTextArea label{
    position: absolute;
    top:1.2rem;
    left:2.4rem;
    transition: all 0.2s ease;
}

.modernTextArea textarea:focus + label,
.modernTextArea textarea:not(:placeholder-shown) + label{
    font-size: 1rem;
    background-color: var(--lighterbrown);
    padding:0.1rem 0.5rem;
    left:2rem;
    top:-0.5rem;
}

.comment{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

#asterik{
    color: red;
}

form p{
    font-size: 1.2rem;
}

form button{
    margin: 0 auto;
}

.other-contacts{
    background-color: var(--supportcolor);
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    height:25rem;
    justify-content: center;
}

.other-contacts .info{
    display: flex;
    justify-content: space-between;
}

.other-contacts img{
    width:4rem;
    height: 4rem;
}

.other-contacts .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.other-contacts .contacts div{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.successBackground, .errorBackground{
    inset: 0;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.successBackground.show,
.errorBackground.show{
    display:flex;
}

.successBackground .successDiv, .errorBackground .errorDiv{
    width:35rem;
    height:fit-content;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background-color: var(--support2);
    position: relative;
    text-align: center;
}

.successBackground img, .errorBackground img{
    position:absolute;
    top:-5rem;
}

.successBackground img{
    width: 10rem;
}

.errorBackground img{
    width: 9rem;
}

.successBackground .circle, .errorBackground .circle{
    background-color: aqua;
    width:10rem;
    height:10rem;
    border-radius: 50%;
    position: absolute;
    top:-5rem;
    background-color: var(--support2);
}

.errorBackground .circle{
    top:-5.5rem;
}

.successBackground h1, .errorBackground h1{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 4rem;
}

.successBackground button, .errorBackground button{
    margin-top: 1rem;
    background-color: var(--supportcolor);
    width: 100%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1rem 0;
    color: var(--support2);
}

.successBackground button::after, .errorBackground button::after{
    content:"";
}

.successBackground button:hover{
    color:green;
}

.errorBackground button:hover{
    color: red;
}