:root{
    font-size: 62.5%;
    --gold:#D99201;
    --junglegreen:#1A3F22;
    --papayaorange:#E07A2F;
    --jungle2:#1B6A59;
}

a{
    cursor:pointer;
}

a:hover{
    color: var(--gold);
}

button{
    cursor:pointer;
    width:fit-content;
    border: solid 0.2rem black;
    padding: 0.5rem 2rem;
    box-sizing: border-box; /* ensures border doesn’t change layout */
    background-color: transparent;
    transition: all 0.3s ease; /* makes the hover effect animate smoothly instead of changing instantly 
    ease → starts slow, speeds up, then slows down at the end (natural feel)
    linear → constant speed throughout
    ease-in → starts slow, then speeds up
    ease-out → starts fast, ends slow
    ease-in-out → starts and ends slow, speeds up in the middle*/
}

button:hover{
    color: var(--gold);
    border-color: var(--gold);
}

section{
    padding:6rem 10rem;
}

body{
    background-color: whitesmoke;
}

.landingpage{
    background-image: url(../images/wheat.jpg);
    /*background-image: url(../images/maize_plantation.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

/* HOME */
.home{
    height: calc(100vh - 7rem);
    display:flex;
    justify-content: center;
    align-items:center;
}

.home h1{
    font-size: 10rem;
    text-align: center;
}

.home p{
    font-size:2rem;
    text-align: center;
}

/* ABOUT US */
.about-us{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
}

.about-us .image{
    width: 50%;
}

.about-us .image img{
    height:calc(100vh - 12rem);
    width:90%;
    object-fit: cover;
    /*The object-fit: cover; makes the image behave like a background image (fills the box, crops evenly)
    You'll notice that if you remove object-fit: cover; it'll look squeezed cz the image is bigger than the
    space allocated so use it to make it look nice*/
}

.about-us .text{
    width:50%;
    height:calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us .text .title{
    font-size: 7rem;
}

.about-us .text .content{
    border-top: solid 0.3rem var(--gold);
    border-bottom: solid 0.3rem var(--gold);
    padding:1rem 0;
}

.about-us .text .content p{
    padding: 1rem 0;
}

.about-us .text .button{
    align-self: flex-end; /*align-self only accepts: auto | flex-start | flex-end | center | baseline | stretch . So this will align to the right*/
}

/* VISION */
.vision{
    border-top: solid 0.2rem var(--gold);
    height:100vh;
    width:100%;
    /*padding: 0 0; I'm overriding the default padding I set for all sections*/
}

.vision .upper, .vision .lower{
    width:100%;
    height:50%;
    display:flex;
}

.vision .upper{
    padding-bottom:2.5rem;
}

.vision .lower{
    padding-top: 2.5rem;
}

.vision .upper .title, .vision .lower .image{
    width:40%;
}

.vision .upper .image, .vision .lower .text{
    width:60%;
}

.vision .upper .title h1{
    font-size:8rem;
}

.vision .upper .title h1:nth-child(1){
    padding-left:4rem;
}

.vision .upper .title h1:nth-child(2){
    padding-left:11rem;
}

.vision .lower .image img{
    width:100%;
    height: 100%; /*100% of the 50% height it's been given*/
    padding-right:20px;
}

.vision .upper .image img{
    width:100%;
    height:100%;
}

.vision .lower .text, .vision .upper .image{
    padding-left: 5rem;
}

.vision .lower .text{
    display: flex;
    align-items: center;
}

.vision .lower .text p{
    font-size: 2rem;
}

/* PRODUCTS */
.products{
    border-top: solid 0.2rem var(--gold);
    height:100vh;
}

.products h1{
    font-size: 7rem;
    text-align: center;
}

.products .example{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-items: center;
    gap:5rem;
    /*background-color: var(--junglegreen);*/
    width: 80rem;
    padding:2.5rem 1rem;
}

.products .example .image{
    width:50%;
    display: flex;
    flex-direction: column;/*So that the flex-end of the image below can be right for the image. See explanation below*/
}

.products .example .image img{
    width:27rem;
    height: 33rem;
    align-self: flex-end;
    /*align-self: flex-end -> for column moves it to the right while for row, moves it to the bottom
    If I hadn't specified that the flex-direction is column then instead I wouldv'e used margin-left:auto
    justify-self: flex-end doesn't work on flex items so if u try to use it, nothing will happen*/
}

.products .example .about{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.products .example .about h2{
    font-size: 4rem;
}

.products .example .about p{
    border-top:solid 0.2rem black;
    border-bottom:solid 0.2rem black;
    padding: 2rem 0;
}

.products .example .about button{
  align-self: flex-end;  
}

/* TESTIMONIALS */
.testimonials{
    border-top: solid 0.2rem var(--gold);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.testimonials h1{
    font-size: 7rem;
}

.testimonials .content{
    display: flex;
    justify-self: center;
    gap:7rem;
    margin-top: 2.5rem;
}

.testimonials img{
    border-radius: 50%;
    border:solid 0.2rem black;
    height:5rem;
    width:5rem;
    align-self: center;
}

/*.content:nth-child(1) → checks .content’s position. So it will select content itself if it is the first child of its parent(testimonials) but not the children of .content
.content :nth-child(1) → checks the position of elements inside .content so this is the one that targets content's children.
Please be careful with the spacing cz they clearly mean different things
If you want to select the children with no spacing u'll do this:
.testimonials .content > div:nth-child(1). Now with this one it will check the divs inside content then select the 1st one
*/

.testimonials .content > div:nth-child(1), .testimonials .content > div:nth-child(2), .testimonials .content > div:nth-child(3){
    background-color: var(--gold);
    height:35rem;
    padding: 3rem 3rem;
}

.testimonials .content > div:nth-child(1) h2, .testimonials .content > div:nth-child(2) h2, .testimonials .content > div:nth-child(3) h2{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.testimonials .content > div:nth-child(1) p, .testimonials .content > div:nth-child(2) p, .testimonials .content > div:nth-child(3) p{
    border-top: solid 0.2rem black;
    padding: 2rem 0;
    height: 17rem;
    font-style: italic;
}

/* CONTACTS */
.contacts{
    border-top: solid 0.2rem var(--gold);
    height: calc(100vh - 4rem);
    display:flex;
    /*To make the content appear at the middle of the page*/
    align-items: center;
    justify-content: center;
    /*End*/
}

.contacts .content{
    background-color: var(--gold);
    width:fit-content;
    padding: 3rem 2rem;
}

.contacts h1{
    font-size: 7rem;
    text-align: center;
    border-bottom: solid 0.2rem black;
    padding-bottom: 1rem;
}

.contacts img{
    height: 4rem;
    width: 4rem;
}

.contacts .info{
    display: flex;
    width:50rem;
    gap:5rem;
    justify-self: center;
    text-align: center;
    padding-top: 2rem;
}

.contacts .info .right, .contacts .info .left{
    /*background-color: aliceblue;*/
    width:25rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
}