:root{
    font-size: 62.5%;
    --gold:#D99201;
    --junglegreen:#1A3F22;
    --papayaorange:#E07A2F;
    --jungle2:#1B6A59;
}

a{
    cursor:pointer;
}

a:hover{
    color: var(--gold);
}

body{
    font-size:1.6rem;
    /*
    display: flex;
    flex-direction: column;
    min-height: 100vh;*/
}

/*main{
    flex: 1;
}*/

/* HEADER */
header{
    height:7rem;
    width:100%; /*100vw will include the scrollbars and I don't want that*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

header .logo{
    width:50%;
}

header .logo{
    display:flex;
}

header .logo img{
    width:2rem;
    border-radius: 50%;
}

header .logo p{
    padding-left:1rem;
}

header .pages{
    width:50%;
}

header .pages ul{
    display:flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    background-color: var(--gold);
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}