:root{
    font-size: 62.5%;
    --gold:#D99201;
    --junglegreen:#1A3F22;
    --papayaorange:#E07A2F;
    --jungle2:#1B6A59;
}

a{
    cursor:pointer;
}

a:hover{
    color: var(--junglegreen);
}

body{
    font-size:1.6rem;
    /*
    display: flex;
    flex-direction: column;
    min-height: 100vh;*/
}

/*main{
    flex: 1;
}*/

/* HEADER */
header{
    height:70px;
    background-color: yellow;
    width:100%; /*100vw will include the scrollbars and I don't want that*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header .logo{
    width:50%;
}

header .logo{
    display:flex;
}

header .logo img{
    width:20px;
    border-radius: 50%;
}

header .logo p{
    padding-left:10px;
}

header .pages{
    width:50%;
}

header .pages ul{
    display:flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    background-color: yellow;
    text-align: center;
    padding:10px 0;
}